<div class="row">
  <div class="col-2">
    <nav class="nav flex-column">
      <a class="nav-link active" href="/matters/createnew">Create New</a>
      <a class="nav-link" href="#">Case Status</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link disabled" href="#">Disabled</a>
    </nav>
  </div>
  <div class="col-9 bg-light">
    {{#if createFormView}}
      <form id="createNewMatterForm">

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Matter Information
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">

                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="inputCategory">Category</label>
                    <select name="categorySel" class="form-control" id="createMatterFormControlSelect1">
                      {{#each caseCategoryOption}}
                        <option value='{{this.id}}'>{{this.fields.Title}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="example-datetime-local-input">Create Date</label>
                    <input name='createDate' class="form-control" type="datetime-local" value="2018-08-18T13:45:00" id="example-datetime-local-input">
                  </div>
                </div>    

                <div class="form-row">
                  <div class="form-group col-md-6">
                  <label for="client-select-input">Client</label>
                    <div class="input-group">
                      <select name="clientSel" class="form-control" id="createMatterFormClientSelect">
                      {{#each clientList}}
                        <option value='{{this.id}}'>{{this.fields.Title}}</option>
                      {{/each}}
                      </select>
                      <div class="input-group-append">
                        {{!-- <button class="btn btn-outline-secondary" type="button" id="button-client-search">Search</button> --}}
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                  Create New Client
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Create New Client</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                        <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-12">
                                  <label for="inputCLientName">Client Name</label>
                                  <input name='client-name-input' type="text" class="form-control" id="new-client-name-input">
                                  <label for="inputClientAddress">Client Address</label>
                                  <input name='client-address-input' type="text" class="form-control" id="new-client-address-input">
                                  <label for="inputCLientPhone">Client Phone</label>
                                  <input name='client-phone-input' type="text" class="form-control" id="new-client-phone-input">
                                  <label for="inputCLientZIPcode">Client ZIP</label>
                                  <input name='client-zip-input' type="text" class="form-control" id="new-client-zip-input">
                              </div>
                            </div>
                            
                          </div>                          
                        </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="modal-save-button">Save</button>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="form-row"> 
                  <div class="form-group col-md-3">  
                    <label for="inputBranch">Branch</label>
                    <select name="branchSel" class="form-control" id="createMatterFormControlSelect2">
                      {{#each caseBranchOption}}
                        <option value='{{this.fields.branchid}}'>{{this.fields.Title}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="form-group col-md-3">  
                    <label for="inputDepartment">Department</label>
                      <select name="departmentSel" class="form-control" id="createMatterFormControlSelect3">
                        {{#each caseDepartmentOption}}
                        {{!-- <option value='{{this.fields.departmentid}}'>{{this.fields.Branch}}-{{this.fields.Title}}</option> --}}
                        {{/each}}             
                      </select>
                  </div>
                </div> 

                <div class='form-row'>
                  <div class="form-group col-md-2">
                    <label for="example-datetime-local-input">Language</label>
                    <select name='language' class="form-control" id="exampleFormControlSelect1">
                      <option>中文</option>
                      <option>English</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="example-datetime-local-input">Foreign-related</label>
                    <select name='foreign-related' class="form-control" id="exampleFormControlSelect1">
                      <option>Y</option>
                      <option>N</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="example-datetime-local-input">Legal aid</label>
                    <select name='legalAid' class="form-control" id="exampleFormControlSelect1">
                      <option>Y</option>
                      <option>N</option>
                    </select>
                  </div>
                </div>

                <div calss="form-row">
                  <div class='form-group col-mb-12'>
                    <label for="inputCaseName">Case name</label>
                    <input name='caseName' class="form-control" type="text">
                  </div>
                </div>


              </div>
            </div>
          </div>




          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Related Contacts
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <div class='form-row'>
                  <div class="form-group col-md-2">
                    <label for="user-1-firstname-input">First name</label>
                    <input name='user-1-firstname-input' type="text" class="form-control" placeholder="First name" id="user-1-firstname-input">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="user-1-lastname-input">Last name</label>
                    <input name='user-1-lastname-input' type="text" class="form-control" placeholder="Last name">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="user-1-position-input">Position</label>
                    <input name='"user-1-position-input" 'type='text' class="form-control" type="text">
                  </div>
                  <div class="form-group col-md-5">
                    <label for="user-1-email-input">Email</label>
                    <input name="user-1-email-input" type="email" class="form-control" id="userInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label for="user-1-tel-input">Tel</label>
                    <input name="user-1-tel-input" type="text" class="form-control">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="user-1-mobile-input">Mobile</label>
                    <input name="user-1-mobile-input" type="text" class="form-control">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="user-1-fax-input">Fax</label>
                    <input name="user-1-fax-input" class="form-control" type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Role
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">

                <div calss="form-row">
                  <div class="form-group col-md-3 pl-0 float-left">
                    <label for="BranchFormControlSelect2">Branch</label>
                    <select multiple class="form-control" id="BranchFormControlSelect2">
                      {{#each caseBranchOption}}
                        <option value='{{this.fields.branchid}}'>{{this.fields.Title}}</option>
                      {{/each}}  
                    </select>
                  </div>
                  <div class="form-group col-md-3 pl-0 float-left">
                    <label for="departmentFormControlSelect2">Department</label>
                    <select multiple class="form-control" id="departmentFormControlSelect2">
                    </select>
                  </div>
                  <div class="form-group col-md-3 pl-0 float-left">
                    <label for="employeeFormControlSelect2">Employee</label>
                    <select multiple class="form-control" id="employeeFormControlSelect2">
                    </select>
                  </div>
                </div>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-success" id='anyuanren-add'>添加案源人</button>
                    <button type="button" class="btn btn-danger" id='anyuanren-delete' style='display:None'>删除案源人</button>
                    <button type="button" class="btn btn-success" id='zhuban-add'>添加主办律师</button>
                    <button type="button" class="btn btn-danger" id='zhuban-delete' style='display:None'>删除主办律师</button>
                    <button type="button" class="btn btn-success" id='duban-add'>添加督办律师</button>
                    <button type="button" class="btn btn-danger" id='duban-delete' style='display:None'>删除督办律师</button>
                </div>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-success" id='xieban-add'>添加协办律师</button>
                    <button type="button" class="btn btn-danger" id='xieban-delete' style='display:None'>删除协办律师</button>
                    <button type="button" class="btn btn-success" id='zhuli-add'>添加律师助理</button>
                    <button type="button" class="btn btn-danger" id='zhuli-delete' style='display:None'>删除律师助理</button>
                    <button type="button" class="btn btn-success" id='mishu-add'>添加业务秘书</button>
                    <button type="button" class="btn btn-danger" id='mishu-delete' style='display:None'>删除业务秘书</button>
                </div>

                <div class="form-row" style="clear:both">
                  <ul class="list-group list-group-flush col-md-2" id="anyuanren_list">
                    <li class="list-group-item">案源人</li>
                    <li class="list-group-item">Empty</li>
                  </ul>
                  <ul class="list-group list-group-flush col-md-2" id="zhuban_list">
                    <li class="list-group-item">主办律师</li>
                    <li class="list-group-item">Empty</li>
                  </ul>
                  <ul class="list-group list-group-flush col-md-2" id="duban_list">
                    <li class="list-group-item">督办律师</li>
                    <li class="list-group-item">Empty</li>
                  </ul>
                  <ul class="list-group list-group-flush col-md-2" id="xieban_list">
                    <li class="list-group-item">协办律师</li>
                    <li class="list-group-item">Empty</li>
                  </ul>
                  <ul class="list-group list-group-flush col-md-2" id="zhuli_list">
                    <li class="list-group-item">律师助理</li>
                    <li class="list-group-item">Empty</li>
                  </ul>
                  <ul class="list-group list-group-flush col-md-2" id="mishu_list">
                    <li class="list-group-item">业务秘书</li>
                    <li class="list-group-item">Empty</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div calss="form-row">
          <button type="button" class="btn btn-primary" id='form-submit'>Submit</button>
        </div>

      </form>
    {{else}}
      <img src="../images/logo.png" class="rounded mx-auto d-block" alt="Responsive image">
    {{/if}}    

  </div>
  <script src='../service/bootstrap-waitingfor.min.js'></script>
  <script src="../service/service.js"></script>

  <script>
  //when user click the Create New button then show the londing dialog
  $('.nav-link').click( function (){
    waitingDialog.show();
  });
  //when user select the branch then change the department select options
  $('#createMatterFormControlSelect2').change(function() {
    law.getListItems (this, '#createMatterFormControlSelect3', 1, function( a ) { return `<option value='${a.fields.deparmentid}'>${a.fields.Branch}-${a.fields.Title}</option>`})
  });
  //when user select the branch then change the department select options
  $('#BranchFormControlSelect2').change( function () {
    law.getListItems (this, '#departmentFormControlSelect2', 1, function( a ) { return `<option value='${a.fields.deparmentid}'>${a.fields.Branch}-${a.fields.Title}</option>` })
  });
  //when user select the department then change the employee select options
  $('#departmentFormControlSelect2').change(async function() {
      law.getListItems (this, '#employeeFormControlSelect2', 2, function( a ) { return `<option value='${a.fields.employeeid}'>${a.fields.Title}</option>` })
  });  

  //modal popout
  $('#modal-save-button').click(async function() {
    let client = {};
    client.Title = $('#new-client-name-input').val();
    client.clientAddress = $('#new-client-address-input').val();
    client.clientPhone = $('#new-client-phone-input').val();
    client.clientZIP = $('#new-client-zip-input').val();
    const data = client;

    $('#exampleModalCenter').modal('hide')
    await law.postListItems ( data, 1 );

    //hiden the modal and clean the input fields
    $('#new-client-name-input').val('');
    $('#new-client-address-input').val('');
    $('#new-client-phone-input').val('');
    $('#new-client-zip-input').val('')
    //update client select dropdown 

    law.getListItems (this, '#createMatterFormClientSelect', 3, function( a ) { return `<option value='${a.fields.clientNumber}'>${a.fields.Title}</option>` });

  });

  $('#anyuanren-add').click(function() {
    law.addPeople('#employeeFormControlSelect2', 'anyuanren', '案源人');
  });
  $('#zhuban-add').click(function() {
    law.addPeople('#employeeFormControlSelect2', 'zhuban', '主办律师');
  });
  $('#duban-add').click(function() {
    law.addPeople('#employeeFormControlSelect2', 'duban', '督办律师');
  });
  $('#xieban-add').click(function() {
    law.addPeople('#employeeFormControlSelect2', 'xieban', '协办律师');
  });
  $('#zhuli-add').click(function() {
    law.addPeople('#employeeFormControlSelect2', 'zhuli', '助理律师');
  });
  $('#mishu-add').click(function() {
    law.addPeople('#employeeFormControlSelect2', 'mishu', '律师秘书');
  });

  $('#anyuanren-delete').click(function() {
    law.delPeople('anyuanren', '案源人');
  });
  $('#zhuban-delete').click(function() {
    law.delPeople('zhuban', '主办律师');
  });
  $('#duban-delete').click(function() {
    law.delPeople('duban', '督办律师');
  });
  $('#xieban-delete').click(function() {
    law.delPeople('xieban', '协办律师');
  });  
  $('#zhuli-delete').click(function() {
    law.delPeople('zhuli', '助理律师');
  }); 
  $('#mishu-delete').click(function() {
    law.delPeople('mishu', '律师秘书');
  }); 

  $('#form-submit').click(function() {
    const data = $('#createNewMatterForm').serializeArray();
    law.postListItems(data, 2);
  });


  </script>
</div>
