<div class="row">
  <div class="col-2">
    <nav class="nav flex-column">
      <a class="nav-link active" href="/matters/createnew">Create New</a>
      <a class="nav-link" href="#">Case Status</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link disabled" href="#">Disabled</a>
    </nav>
  </div>
  <div class="col-9 bg-light">
    <form>
      <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputCategory">Category</label>
            <select name="CategoryS"class="form-control" id="createMatterFormControlSelect1">
              {{#each caseCategoryOption}}
                <option value='{{this.id}}'>{{this.fields.Title}}</option>
              {{/each}}
            </select>
          </div>
      </div>    
      <div class="form-row">
        <div class="form-group col-md-3">  
          <label for="inputBranch">Branch</label>
          <select name="BranchS" class="form-control" id="createMatterFormControlSelect2">
            {{#each caseBranchOption}}
              <option value='{{this.fields.branchid}}'>{{this.fields.Title}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group col-md-3">  
          <label for="inputDepartment">Department</label>
            <select name='{{caseDepartmentListName}}' class="form-control" id="createMatterFormControlSelect3">
              {{#each caseDepartmentOption}}
              <option value='{{this.fields.departmentid}}'>{{this.fields.Title}}</option>
              {{/each}}             
            </select>
        </div>
      </div>     
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
  </div>

  <script>

    $('#createMatterFormControlSelect2').change(async function() {
      const branchSelectValue = $(this).val();
      const accessToken = document.cookie.replace(/(?:(?:^|.*;\s*)graph_access_token\s*\=\s*([^;]*).*$)|^.*$/, "$1");

      let config = {
        headers: {
          Authorization: accessToken,
        }
      }
      try {
        const response = await axios.get(`http://localhost:3000/api/lists/items?list={{{caseDepartmentListName}}}&fName={{{caseDepartmentListBranchidCoulunm}}}&fValue='${branchSelectValue}'`, config);
        let resultHtml = '';
        for(let a of response.data){
          resultHtml +=`<option value='${a.fields.departmentid}'>${a.fields.Title}</option>`;
        };
        $('#createMatterFormControlSelect3').html(resultHtml);
      } catch (error) {
        console.log(error);
      }
    });
  </script>

</div>
