<div class="row">
  <div class="col-2">
    <nav class="nav flex-column">
      <a class="nav-link active" href="/matters/createnew">Create New</a>
      <a class="nav-link" href="#">Case Status</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link disabled" href="#">Disabled</a>
    </nav>
  </div>
  <div class="col-9 bg-light">
    {{#if createFormView}}
      <form>
        <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputCategory">Category</label>
              <select name="CategoryS"class="form-control" id="createMatterFormControlSelect1">
                {{#each caseCategoryOption}}
                  <option value='{{this.id}}'>{{this.fields.Title}}</option>
                {{/each}}
              </select>
            </div>
        </div>    

        <div class="form-row"> 
          <div class="form-group col-md-3">  
            <label for="inputBranch">Branch</label>
            <select name="BranchS" class="form-control" id="createMatterFormControlSelect2">
              {{#each caseBranchOption}}
                <option value='{{this.fields.branchid}}'>{{this.fields.Title}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group col-md-3">  
            <label for="inputDepartment">Department</label>
              <select name='{{caseDepartmentListName}}' class="form-control" id="createMatterFormControlSelect3">
                {{#each caseDepartmentOption}}
                <option value='{{this.fields.departmentid}}'>{{this.fields.Branch}}-{{this.fields.Title}}</option>
                {{/each}}             
              </select>
          </div>
          <div class="form-group col-md-3">
            <label for="example-datetime-local-input">Create Date</label>
            <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
          </div>
        </div> 

        <div class='form-row'>
          <div class="form-group col-md-2">
            <label for="example-datetime-local-input">Language</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>中文</option>
              <option>English</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="example-datetime-local-input">Foreign-related</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Y</option>
              <option>N</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="example-datetime-local-input">Legal aid</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Y</option>
              <option>N</option>
            </select>
          </div>
        </div>

        <div calss="form-row">
          <div class='form-group col-mb-12'>
            <label for="inputCaseName">Case name</label>
            <input class="form-control" type="text">
          </div>
        </div>

        <div data-role="dynamic-fields">

          <div class='form-row'>
            <div class="form-group col-md-2">
              <label for="user-name-input">First name</label>
              <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="form-group col-md-2">
              <label for="user-name-input">Last name</label>
              <input type="text" class="form-control" placeholder="Last name">
            </div>
            <div class="form-group col-md-3">
              <label for="user-position-input">Position</label>
              <input class="form-control" type="text">
            </div>
            <div class="form-group col-md-4">
              <label for="example-datetime-local-input">Email</label>
              <input type="email" class="form-control" id="userInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>

            <div class="form-group col-md-2">
              <label for="user-name-input">Tel</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-2">
              <label for="user-name-input">Mobile</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-2">
              <label for="user-position-input">Fax</label>
              <input class="form-control" type="text">
            </div>

            <div calss="form-row">
                <button type="button" class="btn btn-danger btn-sm" data-role="remove">Remove</button>  
            </div>
            <div calss="form-row">
                <button type="button" class="btn btn-primary btn-sm" data-role="add">Add</button>
            </div>

          </div>  <!-- /div.form-row -->
        </div>  <!-- /div[data-role="dynamic-fields"] -->


        <div calss="form-row">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>


      </form>
    {{else}}
      <img src="../images/logo.png" class="rounded mx-auto d-block" alt="Responsive image">
    {{/if}}    

  </div>

  <script>
    $('#createMatterFormControlSelect2').change(async function() {
      const branchSelectValue = $(this).val();
      const accessToken = document.cookie.replace(/(?:(?:^|.*;\s*)graph_access_token\s*\=\s*([^;]*).*$)|^.*$/, "$1");
      let config = {headers: {Authorization: accessToken,}}
      try {
        const response = await axios.get(`http://localhost:3000/api/lists/items?list={{{caseDepartmentListName}}}&fName={{{caseDepartmentListBranchidCoulunm}}}&fValue='${branchSelectValue}'`, config);
        //responseObject = JSON.parse(response.data);
        let resultHtml = '';
        for(let a of response.data){
          resultHtml +=`<option value='${a.fields.departmentid}'>${a.fields.Branch}-${a.fields.Title}</option>`;
        };
        $('#createMatterFormControlSelect3').html(resultHtml);
      } catch (error) {
        console.log(error);
      }
    });

    $(function() {
        // Remove button click
        $(document).on(
            'click',
            '[data-role="dynamic-fields"] > .form-row [data-role="remove"]',
            function(e) {
                e.preventDefault();
                $(this).closest('.form-row').remove();
            }
        );
        // Add button click
        $(document).on(
            'click',
            '[data-role="dynamic-fields"] > .form-row [data-role="add"]',
            function(e) {
                e.preventDefault();
                var container = $(this).closest('[data-role="dynamic-fields"]');
                new_field_group = container.children().filter('.form-row:first-child').clone();
                new_field_group.find('input').each(function(){
                    $(this).val('');
                });
                container.append(new_field_group);
            }
        );
    });

  </script>
</div>
